@import "./mixins.scss";

$background: white;

$text-padding: 10px;
$standard-font: Arial, sans-serif;
$black_border: 1px solid black;
$round-border: 10px;
$royal-blue: #031CFC;
$faded-blue: #6B77E0;
$dark-blue: #262B5E; 
$dark-red: #cc0000;
$white: #fff;
$gray: gray;
$dark-gray: #5F6061;
$light-gray: #DBDDDE;
$banner-text-color: $dark-blue;
$headline-background: $white;
$headline-text-color: $white;

body {
  font-family: $standard-font;

  main {
    padding-top: 140px;
  }

  header {
    background-color: #EBEBEB;
    border-bottom: 2px solid $dark-blue;
    box-shadow: 2px 2px 2px #808080;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;

    img {
      float: left;
      background-color: $background;
      margin-right: 10px;
    }
  }

  #banner {
    min-height: 80px;

    a.logo-text:hover {
      text-decoration: none;
    }
    
    h1 {
      color: $banner-text-color;
      font-size: 38px;
      font-weight: bold;
      z-index: 2;
      text-align: center;
      
    }

    nav .navbar-nav {
      max-width: 455px;
      margin: 0 auto;
    }

    nav .navbar-nav .nav-link {
          color: black;
          font-weight: bold;
          border-bottom: 2px solid transparent;
    }

    nav .navbar-nav .nav-link:hover,
    nav .navbar-nav .nav-link.active
     {
          color: $dark-red;
          text-shadow: 3px 3px 3px $white;
          border-bottom: 2px solid $dark-blue;
    }


    .dropdown-item {
      background-color: white;
      border-bottom: 2px solid transparent;
      color: black;
      opacity: .8;
    }

    .dropdown-item:hover {
      color: $dark-red;
      border-bottom: 2px solid $dark-blue;
      cursor: pointer;
    }


  }

  #headline {
    background-image: url('../images/headline_gears_img.jpg');
    color: $headline-text-color;
    text-align: center;
    height: 300px;
    h1 {
      font-size: 36px;
      padding-top: 115px;
      padding-bottom: 10px;
      margin: 0;
    }
    h5 {
      font-size: 18px;
    }

  }

  #project_section {
    height: 100px;
    width: 100%;
    float: left;
  }

  section#services.content_section {
    background-image: url('../images/services_background.png');
    background-repeat: no-repeat;
    background-size: center;
    background-position: 50% 20%;
    background-color: transparent;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;

    h3 {
      @include section_heading(300px, 24pt);
    }

    .services_left_column {
      width: 50%;
      float: left;
      background: transparent;
      .services_icons {
        margin: 10px;

      }
    }
    .services_right_column {
      float: left;
      width: 50%;
      background: transparent;

      .services_icons {
        margin: 10px;
        float: right;
      }
    }

  }

  section#expect_from_us.content_section {
      padding: 15px;
      float: left;
      width: 100%;
      h3 {
        @include section_heading(320px, 24pt);
      }

      h5 {
        text-align: center;
      }

      .content_container {
        margin-bottom: 15px;
        border: $black_border;
        @include border-radius(3px);
        h4 {
          @include text-shadow(3px, 3px, 3px, black);
          border-radius: 3px 3px 0 0;
          @include content_container_header($dark-blue);
        }
      }
  }

  .note {
    margin-left: 15px;
    padding: 5px;
    color: black;
    background-color: white;
  }

  .project {
    margin-bottom: 15px;
  }

   div.tab-content.project-description {
    @include project_description();
    h5 {
      @include details_heading();
    }
    .tech-icons {
       @include tech-icons();
    }

  }

  .project .nav.nav-tabs .nav-item {
    display: inline;
    background-color: #eee;
  }

  .project .nav-tabs .nav-item.show .nav-link, .nav-tabs {
    background-color: #eee;
  }

  section#project_porfolio.content_section {
    padding: 15px;
    float: left;
    width: 100%;
    h3 {
      @include section_heading(230px, 24pt);
    }

    .category {
      padding: 20px;
      margin-bottom: 15px;
      box-shadow: 4px 4px 5px gray;
      border-radius: 10px;
      border: 1px solid black;

      @include project_container($dark-blue);

      h4 {
        @include project_heading();
      }
      h3 {
        @include project_title();
      }
      
      #jssor_1 {
        background-color: white;
        border-radius: 15px;
        border: 5px solid #333;
      }

      .web-design-thumbnail {
        box-shadow: 4px 4px 5px black;
      }

      .project .project-container {
        background-color: $light-gray;
        padding: 15px;
        float: left;
        border-radius: 10px;
        box-shadow: 4px 4px 5px gray;
        width: 100%;

        h3 {
          text-align: center;
        }
      }

      h4 {
        @include project_heading();
      }
      h3 {
        @include project_title();
      }
    }
  }

  /* Contact */

  .main_category.contact {
    background-color: $dark-blue;
  	float: left;
  	width: 100%;
  	}

  .main_category.contact h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 10px;
  	}

  .contact_form {
  	background-color: #fff;
  	border: 2px solid #000;
  	-moz-border-radius: 15px;
  	border-radius: 15px;
  	padding: 15px;
  	margin: 15px 15px 100px 15px;
  }

  .main_category.contact .contact_form h1 {
      width: 275px;
      margin-left: 0;
      margin-right: auto;
      border: 0;
      color: #000;
      font-family: 'Dancing Script', cursive;
      font-size: 40px;
      background-image: none;
      text-shadow: none;
  }

  .required {
  	color: red;
  	}


  .name_error, .email_error, .message_error,
  .name_valid_error, .company_valid_error, .email_valid_error,
  .phone_valid_error, .message_valid_error, .recaptcha_error {
           display: none;
           color: red;
           font-size: 12px;
          }

          .no_bullets {
              list-style-type: none;
          }

  .btn.btn-primary { /*submit button */
              font-weight: bold;
              font-size: 16px;
          }

  .message_sent_confirmation {
              padding: 50px;
              margin: 50px;
              background-color: #fff;
              border: 1px solid #000;
              margin-left: auto;
              margin-right: auto;
              width: auto;
              border-radius: 10px;
          }

  /* End Contact */

  .column {
    border: 2px solid #000;
    border-radius: $round-border;
    margin: 10px;

    .column-content {
      background-color: $white;
      padding: 15px;
      border-radius: $round-border;
    }

    .tile {
      text-align: center;
      padding: 15px;
      margin: 10px 0;
      border: $black_border;
      border-radius: $round-border;
    }

    .icon {
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    img {
      border-radius: $round-border;
    }
  }

  .content_section.about_us {
    background-color: $dark-blue;
    padding: 10px;

    h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 40px;

    }
  }

  footer {
    background-color: #EBEBEB;
    border-top: 2px solid $dark-blue;
    box-shadow: -2px -2px 2px #808080;
    width: 100%;
    margin: 0;
    z-index: 1;
    clear: both;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 50px;
  }

  @media screen and (min-width: 767px) {

    .navbar-nav .nav-link {
      padding: 10px 20px;
      margin: 10px 20px;
    }
  }

  @media screen and (max-width: 766px) {

     .navbar-nav .nav-link {
          color: white;
          text-align: center;
          background-color: navy;
          opacity: .8;
          padding: 10px 20px;
          margin: 0;
    }

     .navbar-nav .nav-link:hover {
          color: navy;
          text-align: center;
          background-color: white;

    }



    .navbar-toggler:hover {
      cursor: pointer;
    }

    .nav-item .nav-link {
      color: white;
      text-align: center;
      background-color: navy;
      opacity: .8;
      padding: 10px 20px;
      margin: 0;
    }

    .dropdown-item {
      background-color: white;
      color: navy;
      opacity: .8;
      padding: 10px 20px;
      text-align: center;
    }

    .dropdown-item:hover {
      background-color: navy;
      color: white;
    }

    .project .nav.nav-tabs .nav-item .nav-link.active {
      background-color: white;
      color: black;
    }

    .project .nav.nav-tabs .nav-item .nav-link {
      background-color: #eee;
      color: #007bff;
    }

  }

}
