nav.navbar {
    background-color: $dark-navy;
    padding: 0;
    .navbar-toggler {
      float: right;
      width: auto;
      background-color: $content-background;
      cursor: pointer;
      @include transparency(0.8);
      .navbar-toggler-icon {
        border-radius: 3px;
        background-color: $content-background;
        @include transparency(0.8);
      }
    }

  #navbarSupportedContent {
    background-color: $dark-navy;
    .navbar-nav.mr-auto {
      margin: $center-element;
      width: 100%;
    }
    .nav-item.col-md-2 {
      .nav-link {
        color: white;
        text-align: $center;
      }

      a:hover {
        background-color: white;
        color: $dark-navy;
        cursor: pointer;
      }

    }
  }
/*
  @media screen and (max-width: 575px) {
    #navbarSupportedContent {
      .nav-item {
        width: 100%;
        .nav-link {
          width: 100%;
        }

      }
    }
  }
  */
}
