$dark-navy: #36458E;
$primary-font: Arial, sans-serif;
$center-element: 0 auto;
$max-content-width: 100%;
$center: center;
$light-navy: #6666a3;
$stars-background: url('../images/Snowflake_Background.jpg');
$banner-text: url('../images/chapel_hill_parade_banner_text.png');
$content-background: white;
$content-padding: 30px 20px;
$content-border: 3px solid #36458E;

@import 'mixins';
@import 'nav';

body {
  font-family: $primary-font;
  background-color: $dark-navy;
  width: 100%;
}

#content-wrapper {
  max-width: 100%;
  margin: $center-element;
  background-color: $dark-navy;
}

#banner {
  max-width: 100%;
  background-image: $stars-background;
  text-align: $center;
  padding: 10px 0;
  color: white;
  @include text-shadow(-3px, -3px, 5px, black);
  margin: $center-element;
}

#banner img {
  margin: $center-element;
}

#content-body {
  margin: $center-element;
  background-image: $stars-background;
  padding: $content-padding;

  #parade-map article {
    margin: $center-element;
    max-width: 1311px;
    img {
      text-align: $center;
    }
   .date_time {
     max-width: 1311px;
    text-align: $center;
    background-color: #b4eeb4;
    padding: 10px;
    h2 {
      font-family: 'Kaushan Script', cursive;
      font-size: 36pt;
    }

  }
}

  #imgOverlayContainer {
      z-index: 100;
      background-color: white;
      border: $content-border;
      padding: 10px;
      width: 100%;
      #close {
        background-color: white;
        float: right;
        cursor: pointer;
      }
      h3 {
        color: $dark-navy;
        text-align: left;
        @include text-shadow(-1px, -1px, 3px, black);
      }

  }

  #slideshow {
    max-width: 700px;
    margin: 0 auto 30px auto;
  }

  #parade-map {
    margin: 0 auto 30px auto;
  }

  article.details {
    background-color: white;
    @include border-radius(5px);
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: $center;
    h4 {
      font-weight: bold;
      text-align: $center;
    }
    p {
      text-align: center;
    }
    .clickable {
      cursor: pointer;
    }

  }

  header {

    h1 {
      margin-left: 10px;
      margin-top: 5px;
      color: $dark-navy;
      text-align: left;
      @include text-shadow(-1px, -1px, 3px, black);
    }

  }

  article.sponsor {
    background-color: white;
    @include border-radius(5px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    h4 {
      font-weight: bold;
      text-align: justify;
    }

  }

  .info-block {
    @include border-radius(5px);
    @include transparency(0.8);
    background-color: $content-background;
    padding: 10px;
    margin-bottom: 25px;
    @extend header;
    @extend article.details;
  }

  .info-block.about p {
    text-align: left;
  }

  .gallery {
    @include border-radius(5px);
    background-color: $content-background;
    padding: 10px;
    margin-bottom: 25px;
    @extend header;
    @extend article.details;

  }

  .sponsors {
    background-color: white;
    @include border-radius(5px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    @extend header;
    @extend article.sponsor;

  }

  .sponsor_wrapper {
    border: $content-border;
    width: 100%;
    margin-bottom: 10px;
  }
}

.zero_margin {
  margin: 0;
}

.row {
  @extend .zero_margin;
}

footer {
  z-index: 1;
  border: $content-border;
  padding: 5px;
  @include transparency(0.8);
  background-color: $content-background;
  p {
    max-width: 670px;
    margin: $center-element;
    text-align: $center;
  }
}
